.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-loader {
    animation: App-loader-spin infinite 4s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-modal{
  background-color: black;
}

.modal-content{
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  position: relative;
}

.close-icon{
  position: fixed;
  right: 75px;
  top: 45px;
  background-color: #5a5a5a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: opacity 0.4s;
}

.close-icon:hover{
  opacity: 0.7;
}

.screenshot-container{
  width: 70%;
  height: 90%;
}

.screenshot{
  width: 100%;
}

.error-message, .loading-message{
  color: black;
  font-size: 12px;
}

.loading-message{
  margin-right: 6px;
}

.button-root{
  background-color: #282c34 !important;
}

.button-root-disabled{
  background-color: grey !important;
}

.button-text{
  color: white;
}

.loading-container{
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.App-link {
  color: #61dafb;
}

.App-form {
  margin-top: 25px;
}

.App-modal {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.App-title {
  font-size: 18px;
  color: #282c34;
  font-weight: 700;
}

.App-label{
  color: #282c34;
  text-align: left;
  font-size: 16px;
}

.App-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@keyframes App-loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
